header {
	position: absolute;
	z-index: 10;
	width: 100vw;
}
.bg-light {
	background-color: transparent !important;
}
.navbar-brand {
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}

.nav-item {
	font-weight: 500;
	text-transform: uppercase;
}

.nav-item .nav-link:hover {
	background-color: black;
	color: white !important;
}

.active {
	background-color: black;
	color: white !important;
}
.hero {
	position: relative;
	background: url(https://cdn.discordapp.com/attachments/255091044364976128/1027778036139044944/sanfrancisco_guide_hero.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

.pie_chart_content {
	position: absolute;
	background: url(https://cdn.discordapp.com/attachments/255091044364976128/1027778036139044944/sanfrancisco_guide_hero.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-size: 70px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}
.hero p {
	padding: 0;
	margin: 1em 0 0 0;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
}

.btn1 {
	display: inline-block;
	margin: 1em 0 0 0;
	background-color: black;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	text-decoration: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 30px;
	border: 2px solid black;
}

.btn1:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
	text-decoration: none;
}

.text-to-align {
	vertical-align: bottom;
}
.container2 {
	background-color: white;
	border-radius: 40px;
	padding: 0px;
	text-align: center;
	font-size: 18px;
	margin: 20px 20px 20px 20px;
}

.main_box h1 {
	padding: 50px 0px 50px 0px;
	color: black;
	font-size: 25px;
}
.main_box {
	background-color: white;
	height: 100%;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
}

.count_box {
	background-color: #122952;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	height: 100%;
	color: #ffffff;
	padding: 100px;
}
